@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --scissors_color: hsl(39, 89%, 49%);
  --scissors_shadow: hsl(40, 84%, 39%);
  --paper_color: hsl(230, 89%, 62%);
  --paper_shadow: hsl(230, 89%, 52%);
  --rock_color: hsl(349, 71%, 52%);
  --rock_shadow: hsl(349, 70%, 42%);

  --dark_text: hsl(229, 25%, 31%);
  --score_text: hsl(229, 64%, 46%);
  --header_ouline: hsl(217, 16%, 45%);
  --main_font: "Barlow Semi Condensed";
}

html,
body {
  font-family: var(--main_font);
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.wrap {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

header {
  margin-top: 1rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: solid 4px var(--header_ouline);
  border-radius: 10px;
  padding: 1rem;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.heading p {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.8rem;
}
.score {
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  font-weight: 700;
}
.score-text {
  text-transform: uppercase;
  color: var(--score_text);
  margin: 0;
}
.score-number {
  text-transform: uppercase;
  color: var(--dark_text);
  font-size: 3rem;
  margin: 0;
}
.game {
  position: relative;
  background-image: url("imgs/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 20rem;
  min-height: 20rem;
  margin-bottom: 1rem;
}

.game-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: white;
  position: absolute;
  cursor: pointer;
  transition: 0.5s;
}

.rockClass {
  bottom: -3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 1rem solid var(--rock_color);
  box-shadow: 1px 5px var(--rock_shadow);
}
.rockClass:hover {
  padding: 2.5rem;
  bottom: -3.5rem;
}

.scissClass {
  right: -3rem;
  top: -3rem;
  border: 1rem solid var(--scissors_color);
  box-shadow: 1px 5px var(--scissors_shadow);
}
.scissClass:hover {
  right: -3.5rem;
  top: -3.5rem;
  padding: 2.5rem;
}

.paperClass {
  top: -3rem;
  left: -3rem;
  border: 1rem solid var(--paper_color);
  box-shadow: 1px 5px var(--paper_shadow);
}

.paperClass:hover {
  padding: 2.5rem;
  top: -3.5rem;
  left: -3.5rem;
}

.rules {
  align-self: flex-end;
  text-transform: uppercase;
  color: white;
  border: 2px solid var(--header_ouline);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 2;
  background-color: rgb(82, 80, 80);
}

.rules-img {
  background-image: url("imgs/image-rules.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none;
  opacity: 0;
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 10rem;
  border-radius: 10px;
  padding: 5rem;
  background-color: aliceblue;
}
.rules-img-on {
  display: block;
  opacity: 1;
  z-index: 1;
}

.rules:hover {
  background-color: white;
  color: black;
}

/* PLAYED STATE  */

.hiddenImg {
  display: none;
}
.hiddenImg:hover {
  padding: 2.5rem;
}

.hidden {
  display: none;
}

.notHiddenAnymore {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: white;
  position: relative;
}
.played {
  display: flex;
  min-width: 40rem;
  background-image: none;
  justify-content: space-between;
  align-items: center;
}
.img-played {
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  margin: 0 !important;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: white;
  position: relative;
  cursor: default;
}
.img-played:hover {
  padding: 2.5rem;
}
.side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
}

.side-p {
  display: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}
.side-p-show {
  display: block;
}

.result {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-show {
  display: flex;
}
.result-heading {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  top: -1rem;
  font-weight: 800;
  opacity: 0;
  transition: 1s;
  position: absolute;
}
.result-heading-show {
  opacity: 1;
}
.result-button {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  margin-top: 4rem;
  font-weight: 800;
  background-color: rgb(223, 223, 223);
  border-radius: 20px;
  color: rgb(36, 34, 34);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.result-button:hover {
  background-color: rgb(160, 160, 160);
  z-index: 1;
}
.animace {
  animation: animace 2.5s infinite;
  animation-direction: alternate;
}

@keyframes animace {
  15% {
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.4);
  }
  25% {
    box-shadow:
      0px 0px 0px 20px rgba(255, 255, 255, 0.4),
      0px 0px 0px 20px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 
      0px 0px 0px 20px rgba(255, 255, 255, 0.4),
      0px 0px 0px 20px rgba(255, 255, 255, 0.3),
      0px 0px 0px 60px rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 
      0px 0px 0px 20px rgba(255, 255, 255, 0.4),
      0px 0px 0px 20px rgba(255, 255, 255, 0.3),
      0px 0px 0px 60px rgba(255, 255, 255, 0.2),
      0px 0px 0px 80px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 
      0px 0px 0px 20px rgba(255, 255, 255, 0.4),
      0px 0px 0px 20px rgba(255, 255, 255, 0.3),
      0px 0px 0px 60px rgba(255, 255, 255, 0.2),
      0px 0px 0px 80px rgba(255, 255, 255, 0.1),
      0px 0px 0px 100px rgba(255, 255, 255, 0.09);
  }
}

@media only screen and (max-width: 800px) {
  .side {
    min-width: 0;
    width: 12rem;
  }
  .side-p {
    font-size: 1.2rem;
  }

  .played {
    justify-content: center;
    min-width: auto;
  }
  .img-played {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
  }
  .img-played:hover {
    padding: 1.5rem;
  }
 
  .result-button {
    padding: 0.3rem 0.3rem;
    font-size: 0.7rem;
  }

  .rules-img {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 440px) {
  header {
    width: 80%;
  }
  .heading p {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }
  .game {
    min-width: 12rem;
    min-height: 12rem;
  }

  .game-img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 1rem;
  }

  .rockClass {
    bottom: -2.5rem;
  }
  .rockClass:hover {
    padding: 1.5rem;
    bottom: -3rem;
  }

  .scissClass {
    right: -1.5rem;
    top: -2.5rem;
  }
  .scissClass:hover {
    right: -2rem;
    top: -3rem;
    padding: 1.5rem;
  }

  .paperClass {
    top: -2.5rem;
    left: -1.5rem;
  }

  .paperClass:hover {
    padding: 1.5rem;
    top: -3rem;
    left: -2rem;
  }
  .img-played {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
  }
  .img-played:hover {
    padding: 1.5rem;
  }
  .side {
    width: 10rem;
  }

  @keyframes animace {
    15% {
      box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.4);
    }
    25% {
      box-shadow:
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 0px 0px 10px rgba(255, 255, 255, 0.3);
    }
    50% {
      box-shadow: 
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 0px 0px 10px rgba(255, 255, 255, 0.3),
        0px 0px 0px 15px rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 0px 0px 10px rgba(255, 255, 255, 0.3),
        0px 0px 0px 15px rgba(255, 255, 255, 0.2),
        0px 0px 0px 20px rgba(255, 255, 255, 0.1);
    }
    100% {
      box-shadow: 
        0px 0px 0px 5px rgba(255, 255, 255, 0.4),
        0px 0px 0px 10px rgba(255, 255, 255, 0.3),
        0px 0px 0px 15px rgba(255, 255, 255, 0.2),
        0px 0px 0px 20px rgba(255, 255, 255, 0.1),
        0px 0px 0px 25px rgba(255, 255, 255, 0.09);
    }
  }
}
